<div style="width:50%;">
    <form ng-submit="register()">
        <label for="emailAddress">Email Address:</label>
        <input id="emailAddress" type="text" ng-model="registerForm.emailAddress" required class="form-control" />

        <label for="password">Password:</label>
        <input id="password" type="password" ng-model="registerForm.password" required class="form-control" />

        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" type="password" ng-model="registerForm.confirmPassword" required class="form-control" />

        <br />

        <button type="submit">Register</button>
    </form>
</div style="width:50%;">